* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    gap: 5px;
}

